<div *ngFor="let track of tracks" class="track-container">
  <div class=" panel-wh">
  <div class=" panel-gray pau">
       <p class="track-id"> {{ track.name }}   -   {{ track.author }}</p>
    <div class="right-align">

      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add" (click)="editAlbumTrack(track)"> </mat-icon>

    </div>
  </div>
  </div>
</div>
<div class="paginator-wrapper">
  <div class="paginator-container">
    <mat-paginator  class="pag" #paginator
                  [pageSize]="pageSize"
                  [length]="totalElements"
                  [pageSizeOptions]="[2, 7, 10, 25]"
                  [showFirstLastButtons]="true"
                  (page)="updatePageSizeTrackss($event)"  aria-label="Select page">
    </mat-paginator>
  </div>
  <button class="custom-btn btn-1 right-align cc" (click)="close()">Close</button>
</div>

