<p>admin works album!</p>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource2" matSort >
    <!-- (matSortChange)="announceSortChange($event)"> -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let album"> {{album.id}} </td>
    </ng-container>
    <ng-container matColumnDef="nameAlbum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> nameAlbum </th>
      <td mat-cell *matCellDef="let album"> {{album.nameAlbum}} </td>
    </ng-container>
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> picture </th>
      <td mat-cell *matCellDef="let album"> {{album.picture}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let album">
        <!-- <div>
          <button  class="custom-btn btn-1" (click)="editUser(student)">Edit</button>
          <button  class="custom-btn btn-1" (click)="deleteUser(student)">Delete</button>
        </div> -->
        <div>
          <button  class="custom-btn btn-1" (click)="openAlbum(album)">Open</button>
          <!-- <a [routerLink]="['/admin/album/:id']"> Открыть </a> -->
        </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>


  <!-- <button  class="custom-btn btn-1" (click)="addNewStudent()">Add</button> -->
    <mat-paginator #paginator

                  [pageSize]="pageSize"
                  [length]="totalElements"
                  [pageSizeOptions]="[2, 8, 10, 25]"

                  [showFirstLastButtons]="true"
                  (page)="updatePageSizeAl($event)"></mat-paginator>



</div>
<!-- <button mat-button routerLink="/admin">Перейти к пользователям</button>
<button mat-button routerLink="/admin/tracks">Перейти к трекам</button> -->

<a [routerLink]="['/admin']">Перейти к пользователям    </a>
<a [routerLink]="['/admin/tracks']">    Перейти к трекам    </a>


<a [routerLink]="['/login']">    Logout</a>
