
<div class="screen">
  <div class="panel panel-right new-flex-container">
    <div class="content-wrapper">


      <div *ngIf="authService.isStudent()">
      <div class=" panel-right top-right-menu">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle" class="menu align-left" [matMenuTriggerFor]="menu" > </mat-icon>

        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/client']">Перейти к чатам</button>
          <button mat-menu-item [routerLink]="['/client/auth-user']">Перейти к лк</button>
          <button mat-menu-item [routerLink]="['/login']">Logout</button>
        </mat-menu>

      </div>
    </div>
    <div *ngIf="authService.isAdmin()">
      <div class=" panel-right top-right-menu">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle" class="menu align-left" [matMenuTriggerFor]="menu" > </mat-icon>

        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/admin']">Перейти к пользователям</button>

          <button mat-menu-item [routerLink]="['/login']">Logout</button>
        </mat-menu>

      </div>
    </div>

 <br>
<br>
<div class="center-buttons">

  <div *ngIf="authService.isAdmin()">
  <button  mat-button class="bbt" [routerLink]="['/admin/tracks']" ><h1>Tracks</h1></button>
  </div>
  <div *ngIf="authService.isStudent()">
    <button  mat-button class="bbt" [routerLink]="['/client/tracks']" ><h1>Tracks</h1></button>
    </div>
    <button mat-button color="primary" class=" bbt2"> <h1>Albums</h1></button>
</div>
      <div *ngIf="authService.isAdmin()">
        <button class="custom-btn btn-1 eee" (click)="addNewAlbum()">Add Album</button>
      </div>
      <div *ngFor="let album of albums">
      <div class="square-container disc">
          <img class="picture" src = {{album.picture}}>
        <div class="inf">
          <p>{{ album.id }}   -   {{ album.name_album }} </p>
          <div *ngIf="authService.isAdmin()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" (click)="editAlbum(album)"> </mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add" (click)="Addtracks(album)"> </mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="folder_open" (click)="openAlbum(album)"> </mat-icon>
          </div>
          <div  *ngIf="authService.isStudent()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="folder_open" (click)="openAlbum(album)"> </mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>



