<div class="screen">
  <div class=" panel panel-right new-flex-container">
    <div class="content-wrapper">
      <div class=" panel-right top-right-menu">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle" class="menu align-left" [matMenuTriggerFor]="menu"></mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/client/tracks']">Перейти к трекам</button>
          <button mat-menu-item [routerLink]="['/client']">Перейти к чатам</button>
          <button mat-menu-item [routerLink]="['/login']">Logout</button>
        </mat-menu>
      </div>
      <br>
      <br>
      <div class="track-container">
        <div>
          <div class="picture">
            <img src = {{user.photo}}>
          </div>
        <div class=" panel-wh">
          <div class=" panel-gray pau">
            <h4>ID:   </h4> <pre>  </pre>  {{ user.id }}
          </div>
        </div>
        <div class=" panel-wh">
          <div class=" panel-gray pau">
            <h4>FIO:   </h4> <pre>  </pre> {{ user.fio }}
          </div>
        </div>
        <div class=" panel-wh">
          <div class=" panel-gray pau">
            <h4>Date of Birth:   </h4> <pre>  </pre> {{ user.date }}
          </div>
        </div>
        <div class=" panel-wh">
          <div class=" panel-gray pau">
            <h4>Username:   </h4> <pre>  </pre> {{ user.username }}
          </div>
        </div>
        <div class=" panel-wh">
          <div class=" panel-gray pau">
            <h4>Description:   </h4> <pre>  </pre> {{ user.text }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
