
.response .text {
  background-color: #D9D9D9 !important;
  color: #000;
  margin-top: 50px;
  width: 200px;
  height: 80px;
  border-radius: 20px;
  margin-left: 1200px;
  justify-content: center;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
}

.text2 {
  background-color: #D9D9D9 !important;
  color: #000;
  margin-top: 50px;
  width: 300px;
  height: 80px;
  border-radius: 20px;
  margin-left: 1100px;
  justify-content: center;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
}

.tex2 {
  background-color: #2C5420!important;
  color: #000;
  margin-top: 50px;
  left: 100%;
  width: 300px;
  height: 80px;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
}

.tex {
  background-color: #2C5420 !important;
  color: white;
  left: 100%;
  width: 200px;
  height: 80px;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  font-size: 20px;
  align-items: flex-start;
}

.message {
  margin: 6px 0 0 20px;
  font-family:'Montserrat', sans-serif;
  font-size: 9pt;
  color:#515151;
}

