<!-- <div   *ngIf="this.selectChat"  class="component"> -->
    <div *ngIf="message.textMess !== null" сlass="component">
          <p [ngClass]="{'text': this.authUserId == message.userId, 'tex': this.authUserId !== message.userId}">{{ message.textMess }}</p>
    </div>
    <div *ngIf="message.textMess === null && message.track !== null">
      <div *ngIf="message.track.trackUrl" class="track-container">
        <div [ngClass]="{'text': this.authUserId == message.userId, 'tex': this.authUserId !== message.userId}">
          <!-- <mat-progress-bar class=" progress" mode="determinate" [value]="getCurrentTime(message.trackUrl)" ></mat-progress-bar> -->
          {{message.track.trackName}}  -  {{message.track.trackAuthor}}
          <!-- <mat-progress-bar class=" progress" mode="determinate"></mat-progress-bar> -->
          <!-- <div *ngIf=" !isPlaying || message.track.trackUrl !== trackUrlToMessage"> -->
          <!-- <div *ngIf="message.track.trackUrl !== trackUrlToMessage  || message.track.trackUrl !== playinTrackUrl || (message.track.trackUrl !== trackUrlToMessage  && message.track.trackUrl !== playinTrackUrl) || playinTrackUrl == null">
               <button (click)="playMessageAudio(message.track.trackUrl) ">Play</button>
          </div> -->
          <!-- </div>
          <div *ngIf=" isPlaying || message.track.trackUrl == trackUrlToMessage"> -->
            <!-- <input type="range" min="0" [max]="duration" step="0.1" [(ngModel)]="time" (input)="seekAudio($event, message.track.trackUrl)"> -->
            <button (click)="playMessageAudio(message.track.trackUrl) ">Play</button>
            <button (click)="pauseMessageAudio(message.track.trackUrl)">Stop</button>
            <input type="range" min="0" [max]="duration" step="0.1" [(ngModel)]="time" (input)="seekAudio($event, message.track.trackUrl)">
            <div>
              <span>Volume</span>
              <input type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event)">
           </div>
        <!-- <div *ngIf="message.track.trackUrl == trackUrlToMessage  || message.track.trackUrl == playinTrackUrl || (message.track.trackUrl == trackUrlToMessage  && message.track.trackUrl == playinTrackUrl) || playinTrackUrl !== null">
            <input type="range" min="0" [max]="duration" step="0.1" [(ngModel)]="time" (input)="seekAudio($event, message.track.trackUrl)">
            <div>
              <span>Volume</span>
              <input type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event)">
           </div>
        </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
<!-- </div> -->


