<div class="component">
    <div *ngIf="message.textMess !== null">
          <p [ngClass]="{'text': this.authUserId == message.userId, 'tex': this.authUserId !== message.userId}">{{ message.textMess }}</p>
    </div>
    <div *ngIf="message.textMess === null && message.track !== null">
      <div *ngIf="message.track.trackUrl" class="track-container">
        <div [ngClass]="{'text': this.authUserId == message.userId, 'tex': this.authUserId !== message.userId}">
          {{message.track.trackName}}  -  {{message.track.trackAuthor}}
          <mat-icon class="play-button" aria-hidden="false" aria-label="Example home icon" fontIcon="play_arrow" (click)="actionTrack('Play', message.track.trackUrl)"></mat-icon>
          <mat-icon class="pause-button" aria-hidden="false" aria-label="Example home icon" fontIcon="pause" (click)="actionTrack('Pause', message.track.trackUrl)"></mat-icon>
          <input class="inputclass" type="range" min="0" [max]="duration" step="0.1" [(ngModel)]="time" (input)="seekAudio($event, message.track.trackUrl)">
          <div>
            <span>Volume</span>
            <input class="inputclass" type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event)">
          </div>
        </div>
      </div>
    </div>
</div>


