<div   *ngIf="this.selectChat"  class="component">
    <div *ngIf="message.textMess !== null">
          <p [ngClass]="{'text': this.selectChat.first_id == message.first, 'tex': this.selectChat.second_id == message.first}">{{ message.textMess }}</p>
    </div>
    <div *ngIf="message.textMess === null">
      <div *ngIf="message.track" class="track-container">
        <p [ngClass]="{'text': this.selectChat.first_id  == message.first, 'tex': this.selectChat.second_id== message.first}">
          <mat-progress-bar class=" progress" mode="determinate" [value]="getCurrentTime(message.track)" ></mat-progress-bar>
          <button (click)="playMessageAudio(message.track) ">Play</button>
          <button (click)="pauseMessageAudio(message.track)">Stop</button>
        </p>
      </div>
    </div>
</div>

