<div *ngIf="this.selectChat" class="component square chats">
  <div *ngFor="let message of messageArray">
    <app-message #childAudioPlayer [message]="message"  [authUserId]="authUserId" [selectChat]="selectChat" (playEvent)="playAudio($event)" (pauseEvent)="pauseAudio($event)"></app-message>
  </div>
  <input  [(ngModel)]="messageText" type="text" class="write-message" placeholder="Type your message here">
  <button (click)="openPlaylist()">Open playlist</button>
  <button (click)="createMessages(selectChat)">Create message</button>
</div>
