
<div *ngFor="let track of tracks" class="track-container">
  <div class=" panel-wh">
  <div class=" panel-gray pau">
    <p>
      <audio controls class="custom-audio">
        <source [src]="track.file" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </p>

       <p class="track-id"> {{ track.name }}   -   {{ track.author }}</p>
       <div class="right-align" *ngIf="authService.isStudent()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite_border"
        (click)="handleUserButtonClick(track)" [ngClass]="{'active': isIconActive}">
    </mat-icon>
       </div>
  </div>
  </div>
</div>
<div class="paginator-wrapper">
  <div class="paginator-container">
    <mat-paginator  class="pag" #paginator
                  [pageSize]="pageSize"
                  [length]="totalElements"
                  [pageSizeOptions]="[2, 7, 10, 25]"
                  [showFirstLastButtons]="true"
                  (page)="updatePageSizeTrackss($event)"  aria-label="Select page">
    </mat-paginator>
  </div>

  <button class="custom-btn btn-1 right-align cc" (click)="close()">Close</button>
</div>
