
<!--
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource4" matSort >

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let track"> {{track.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> name </th>
        <td mat-cell *matCellDef="let track"> {{track.name}} </td>
      </ng-container>
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> author </th>
        <td mat-cell *matCellDef="let track"> {{track.author}} </td>
      </ng-container>
      <ng-container div *ngIf="authService.isAdmin()">
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let track">
            <div>

            </div>
            </td>
        </ng-container>
      </ng-container>
      <ng-container div *ngIf="authService.isStudent()">
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let track">
          <div>

          </div>
          </td>
      </ng-container>
    </ng-container>
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator #paginator

    [pageSize]="pageSize"
    [length]="totalElements"
    [pageSizeOptions]="[2, 8, 10, 25]"

    [showFirstLastButtons]="true"
    (page)="updatePageSizeTrackss($event)"></mat-paginator>
</div>


<button mat-raised-button (click)="close()">Cancel</button> -->
<div *ngFor="let track of tracks" class="track-container">
  <div class="panel panel-wh">
  <div class="panel panel-gray pau">
    <p>
      <audio class="custom-audio" preload="none" controls>
        <source src="data:audio/mpeg;base64,{{ track.file }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </p>

       <p class="track-id"> {{ track.name }}   -   {{ track.author }}</p>
       <div class="right-align" *ngIf="authService.isStudent()">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite_border"
        (click)="handleUserButtonClick(track)" [ngClass]="{'active': isIconActive}">
    </mat-icon>
       </div>
  </div>
  </div>
</div>
<div class="paginator-wrapper">
  <div class="paginator-container">
    <mat-paginator  class="pag" #paginator
                  [pageSize]="pageSize"
                  [length]="totalElements"
                  [pageSizeOptions]="[2, 7, 10, 25]"
                  [showFirstLastButtons]="true"
                  (page)="updatePageSizeTrackss($event)"  aria-label="Select page">
    </mat-paginator>
  </div>

  <button class="custom-btn btn-1 right-align cc" (click)="close()">Close</button>
</div>
