

<div class="screen">
  <div class=" panel-right new-flex-container">
    <div class="content-wrapper">


      <div *ngIf="authService.isStudent()">
      <div class=" panel-right top-right-menu">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle" class="menu align-left" [matMenuTriggerFor]="menu" > </mat-icon>

        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/client']">Перейти к чатам</button>
          <button mat-menu-item [routerLink]="['/client/auth-user']">Перейти к лк</button>
          <button mat-menu-item [routerLink]="['/login']">Logout</button>
        </mat-menu>

      </div>
    </div>
    <div *ngIf="authService.isAdmin()">
      <div class=" panel-right top-right-menu">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle" class="menu align-left" [matMenuTriggerFor]="menu" > </mat-icon>

        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/admin']">Перейти к пользователям</button>

          <button mat-menu-item [routerLink]="['/login']">Logout</button>
        </mat-menu>

      </div>
    </div>

<br>
<br>
<div class="center-buttons">
  <button mat-button color="primary" class=" bbt2"> <h1>Tracks</h1></button>
  <div *ngIf="authService.isAdmin()">
  <button  mat-button class="bbt" [routerLink]="['/admin/album']" ><h1>Albums</h1></button>
  </div>
  <div *ngIf="authService.isStudent()">
    <button  mat-button class="bbt" [routerLink]="['/client/album']" ><h1>Albums</h1></button>
    </div>
</div>

      <div *ngFor="let track of tracks" class="track-container">
        <div class=" panel-wh">
        <div class=" panel-gray pau">
          <p>
            <audio controls class="custom-audio">
              <source [src]="track.file" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </p>
             <p class="track-id"> {{ track.name }}   -   {{ track.author }} </p>
          <div class="right-align" *ngIf="authService.isAdmin()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" (click)="editTrack(track)"> </mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="restore_from_trash" (click)="deleteTrack(track)"> </mat-icon>
          </div>
          <div class="right-align" *ngIf="authService.isStudent()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite_border"
            (click)="handleUserButtonClick(track)" [ngClass]="{'active': isIconActive}">
        </mat-icon>
           </div>
        </div>
        </div>
      </div>
      <div class="paginator-wrapper">
        <div class="paginator-container">
          <mat-paginator  class="pag" #paginator
                        [pageSize]="pageSize"
                        [length]="totalElements"
                        [pageSizeOptions]="[2, 7, 10, 25]"
                        [showFirstLastButtons]="true"
                        (page)="updatePageSizeTrack($event)"  aria-label="Select page">
          </mat-paginator>
        </div>
        <div *ngIf="authService.isAdmin()">
        <button class="custom-btn btn-1 right-align" (click)="addNewTrack()">Add Track</button>
      </div>
      </div>
    </div>
  </div>
</div>
