<div   *ngIf="this.selectChat"  class="component">
    <div *ngIf="message.textMess !== null">
          <p [ngClass]="{'text': this.selectChat.first_id == message.first, 'tex': this.selectChat.second_id == message.first}">{{ message.textMess }}</p>
    </div>
    <div *ngIf="message.textMess === null">
      <div *ngIf="message.track" class="track-container">
        <p [ngClass]="{'text': this.selectChat.first_id  == message.first, 'tex': this.selectChat.second_id== message.first}">
          <audio #myAudioElement controls (play)="playAudio($event)" (pause)="pauseAudio($event)">
            <source [src]="message.track.file" type="audio/mpeg">
          </audio>
        </p>
      </div>
    </div>
</div>

