<p>edit works!</p>
<div *ngIf="fromAlbumComponent">
  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="nameAlbum" [(ngModel)]="editingAlbum.name_album" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">
    <input matInput type="text" placeholder="picture" [(ngModel)]="editingAlbum.picture" required>
  </mat-form-field>
</div>


<div *ngIf="fromTrackComponent">
  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="trackName" [(ngModel)]="editingTrack.name" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="author" [(ngModel)]="editingTrack.author" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="text" [(ngModel)]="editingTrack.text" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="file" [(ngModel)]="editingTrack.file" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="album_id" [(ngModel)]="editingTrack.album_id" required>
  </mat-form-field>
  <!-- <mat-form-field class="full-width-input">
    <mat-label>Album</mat-label>
    <mat-select [(ngModel)]="editingTrack.album_id" required>
      <mat-option *ngFor="let album of albums" [value]="album.id">
        {{ album.id}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
</div>


<div *ngIf="fromUserComponent">
  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="fio" [(ngModel)]="editingUser.fio" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="text" [(ngModel)]="editingUser.text" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="date" [(ngModel)]="editingUser.date" required>
  </mat-form-field>
  <mat-form-field class="full-width-input">

    <input matInput type="text" placeholder="photo" [(ngModel)]="editingUser.photo" required>
  </mat-form-field>
  <!-- Добавьте остальные поля, связанные с пользователем -->
</div>


<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button class="right-align" mat-raised-button color="primary"
    [mat-dialog-close]="editingUser" (click)="onYesClick()">Save</button>

    <!-- <button (click)="editStudent()">Edit</button> -->

</div>
