.picture-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 190px;
  overflow: hidden;
  border-radius: 10%;
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 10px;
}
.mat-icon:active {
  color: grey;
}

.picture-btn:hover {
  opacity: 0.8;
}

.picture-btn .picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.picture-btn::after {
  content: "ADD";
  position: absolute;
  top: 50%; /* adjust the vertical position */
  left: 50%; /* adjust the horizontal position */
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: black;
}
.right-align {
  margin: 0 0 0 auto !important;
}
.custom-btn {
  width: 120px;
  height: 35px;
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 90;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.fff{

  margin-left: 30px;
}
.ttt{
  margin-right: 20px;

}
.btn-1 {
  background: #2C5420;
  background: linear-gradient(0deg, #2C5420 0%, #2C5420 100%);
  border: none;
}
.btn-1:hover {
  background: rgb(47, 88, 1);
background: linear-gradient(0deg, rgb(47, 88, 1) 0%, rgb(76, 139, 4) 100%);
}
.example-form {
  min-width: 150px;
  max-width: 200px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.user-details {
  display: flex;
}

.user-details .photo-wrapper {
  flex: 0 0 auto;
  margin-right: 20px;
}

.user-details .details-wrapper {
  flex: 1;
}

.user-details .actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.user-details {
  display: flex;
  align-items: flex-start;
}
.button-container {
  display: flex;
  gap: 10px; /* Отступ между кнопками */
}
.user-details .photo-wrapper {
  flex: 0 0 auto;
  margin-right: 20px;
}

.user-details .details-wrapper {
  flex: 1;
}

.user-details .actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.user-details .file-upload {
  margin-top: 20px;
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.button-container {
  display: flex;
  justify-content: flex-end;
}
.mat-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-upload {
  position: relative;
}

.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  cursor: pointer;
}

.file-upload.dragover .drop-area {
  border-color: #000;
}
.center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left : 80px;
  border-radius: 10px;
  background-color: #D9D9D9;
  margin-bottom: 5px;
  margin-top: 5px;

}
.full-width-input {
  background-color: #D9D9D9;
  height: 50px;
  width: 100%;
  margin: 10px;
  align-items: center;
  left: 10px;
  border-radius: 10px;
  margin-right: 30px;
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions2 {
  margin-top: 10px;
}

.button-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-align2 {
  margin-left: auto;
}
.baa{

  margin-top: 100px;
}
