<div class="screen">
  <div class="panel panel-right new-flex-container">
    <div class="content-wrapper">
      <div class=" panel-right top-right-menu">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle" class="menu align-left" [matMenuTriggerFor]="menu" > </mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/admin/tracks']">Перейти к трекам</button>
          <button mat-menu-item [routerLink]="['/login']">Logout</button>
        </mat-menu>

      </div>
<br>
<br>
      <div *ngFor="let user of users" class="track-container">
        <div class="panel panel-wh">
        <div class="panel panel-gray pau">
          {{ user.id }}: {{ user.fio }}
          <div class="right-align">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" (click)="editUser(user)"> </mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="restore_from_trash" (click)="deleteUser(user)"> </mat-icon>
          </div>
        </div>
        </div>
      </div>
      <div class="paginator-wrapper">
        <div class="paginator-container">
          <mat-paginator  class="pag" #paginator
                        [pageSize]="pageSize"
                        [length]="totalElements"
                        [pageSizeOptions]="[2, 7, 10, 25]"
                        [showFirstLastButtons]="true"
                        (page)="updatePageSize($event)"  aria-label="Select page">
          </mat-paginator>
        </div>
        <button class="custom-btn btn-1 right-align" (click)="addNewUser()">Add User</button>
      </div>
    </div>
  </div>
</div>
