<p>admin works!</p>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource4" matSort >
    <!-- (matSortChange)="announceSortChange($event)"> -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>
    <ng-container matColumnDef="fio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let user"> {{user.fio}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let user">
        <div>
          <button  class="custom-btn btn-1" (click)="editUser(user)">Edit</button>
          <button  class="custom-btn btn-1" (click)="deleteUser(user)">Delete</button>
        </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>


  <button  class="custom-btn btn-1" (click)="addNewUser()">Add</button>
    <mat-paginator #paginator

                  [pageSize]="pageSize"
                  [length]="totalElements"
                  [pageSizeOptions]="[2, 8, 10, 25]"

                  [showFirstLastButtons]="true"
                  (page)="updatePageSize($event)"></mat-paginator>



</div>

<!-- <button mat-button routerLink="/admin/album">Перейти к альбомам</button>
<button mat-button routerLink="/admin/tracks">Перейти к трекам</button> -->
<a [routerLink]="['/admin/album']">Перейти к альбомам      </a>

<a [routerLink]="['/admin/tracks']">    Перейти к трекам    </a>

<a [routerLink]="['/login']">     Logout     </a>
