/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #939393;
  height: 100%;
  margin: 20;
  padding: 20;
  overflow:auto;
  /* ОСНОВНОЙ ЦВЕТ #3CB371 008080  6A5ACD*/
}

.panel {
  display: flex;
  flex-direction:column;
  /* height: 100vh; */
  background-color: #ffffff;
  /* padding: 10px; */
  overflow-y: auto;
  height: 94vh;
  /* align-items: center; */
  /* justify-content: center; */
  border: 2px solid #000;

  border-radius: 10px;
  /* flex-wrap: wrap; */
  /* position: relative; */
}
.panel2 {
  display: flex;
  flex-direction: column;
  flex:1;
  background-color: #be2929;

  padding: 10px;
  overflow-y: auto;
  height: 94vh;
  /* align-items: center; */
  /* justify-content: center; */
  border: 2px solid #000;
  border-radius: 10px;
  /* position: relative; */
}

.component {
  overflow: auto;
  flex:1;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 10px;

  position: relative;
}

.component2 {
  overflow: auto;
  flex:1;
  margin: 10px;
  background-color: #ffffff;
  /* border: 1px solid #000;  */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 100%;
}
